<div class='container'>

  <h1 class='title'>Doggie Database</h1>

  {{outlet}}

  {{#if isShowingModal}}
    {{#modal-dialog close='closeModalDialog' translucentOverlay=true }}
      {{modalMessage}}
    {{/modal-dialog}}
  {{/if}}


</div>  

